<div class="main-container container">
	{{#each scrapedArticles}}
	<div class="panel article">
		<div class="panel-header">
			<a href="{{link}}"> <h3> {{title}}</h3> </a>
		</div>
		<div class="article-img">
			{{img}}
		</div>
		{{!-- TODO: if the article is in the database, btn say "save"
		if the artifle is not in the database, btm say "unsave"--}}
		<div class="panel-body row">
			<div class="save-btn offset-col-sm-8 col-sm-2">
				<form action="/savingArticle" method="POST">
					<input hidden name="link" value="{{link}}">
					<input hidden name="title" value="{{title}}">
					<input type="submit" class="btn btn-primary" value="Save Article">
				</form>
			</div>
			{{!--<div class="note-btn col-sm-2">
				<form action="/note" method="POST">
					<input hidden name="link" value="{{link}}"> 
					<input hidden name="title" value="{{title}}">
					<input type="text" name="text">
					<button class="btn btn-primary">Take Note</button>
				</form>
			</div>--}}
			{{!--<div class="comment">
				{{#each comment}}
				<p class="comment-text">{{text}}</p>
				<p class="user-name">{{user}}</p>
				{{/each}}
			</div>--}}
		</div>
	</div>
	{{/each}}
</div>