
<div class="main-container container">
    {{#each savedArticles}}
        <div class="panel article">
            <div class="panel-header">
                <a href="{{link}}"> {{title}} </a>
            </div>
            <div class="note-div panel-body">
                <button data-articleId={{_id}} class="btn btn-primary note-btn">Article Note</button>
                {{!--the Modal--}}
                <div class="col-sm-3 modal modal-display" id="modal_{{_id}}">
                    <form action="/savingNote" method="POST" class="row modal-content">
                        <span class="close">&times;</span>
                        <input hidden name="articleId" value="{{_id}}">
                        <p>Note for article: {{title}}</p>
                        <input type="text" name="text" class="col-sm-5">
                        <input type="submit" value="Save Note" class="btn btn-primary offset-col-sm-1 col-sm-6">
                    </form>
                </div>
                {{!--end of modal--}}
            </div>
        </div>
    {{/each}}
</div>

<script src="/assets/logic.js"></script>

 {{!--
<form action="/addcomment" method="POST">--}}
    <!-- The Modal -->
    {{!--
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Some text in the Modal..</p>
            <textarea name="commentText" id="commentText" cols="30" rows="10"></textarea>
        </div>

    </div>--}}